@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;

}

@media (min-width: 499px) {
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        height: 100vh;
        width: 100%;
        background-color: hsl(235, 18%, 26%);
        .success{
            background: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 20px;
            width: 420px;
            padding: 30px 0px;
            
        }
        .success-container{
            display: flex;
            flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 80%;
    
}
#dismiss:hover{
    background: linear-gradient(
        90deg,
        hsl(345, 96%, 64%), hsl(4, 100%, 67%)
    );
    transition: .5s all;
    cursor: pointer;

    box-shadow: 0 10px 50px -10px hsl(4, 100%, 67%)
   
}

}}



.success svg{
    height: 55px;
    width: 55px;
    margin-bottom: 25px;

}
.success h1{
    font-size: 300%;
    margin-bottom: 20px;
    line-height: 47px;
}

.success p{
    font-size: 14px;
    margin-bottom: 35px;
    width: 100%;
}

.success button{
    width: 100%;
    border-radius: 5px;
    padding: 15px;
    background-color: hsl(234, 29%, 20%);
    color:  hsl(0, 0%, 100%);
    font-weight: 600;
    border: none;
    font-size: 14px;

    margin-bottom: 20px;
}




@media (max-width:500px){
.success{
    display: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.success .success-container{
    height: 100%;
display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    
    padding: 30% 5% 5% 5%;
}

.success svg{
    height: 60px;
    width: 60px;
    margin-bottom: 40px;
}
.success h1{
    font-size: 250%;
    line-height: 40px;
}
.success p{
font-size: 100%;
line-height: 20px;
}
.success button{
margin-top: 170px;
padding:7%;
border-radius: 10px;
}
}